<div class="row mb-4">
  <div class="col">
    <div class="text-center">
      <button class="btn btn-success mr-4" (click)="onStartGame()">Start</button>
      <button class="btn btn-danger" (click)="onStopGame()">Stop</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="text-center">
      <h1>{{randomNumber}}</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="text-center">
      <app-odd [randomNumbers]="oddNumbers"></app-odd>
      <app-even [randomNumbers]="evenNumbers"></app-even>
    </div>
  </div>
</div>